
@model AppMVCMongodb.Models.Persona
@{ ViewBag.Title = "Editar Persona";}
<h2>@ViewBag.Title</h2>
<form asp-controller="Personas" asp-action="Editar" method="post" class="form-horizontal" role="form">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Id" class="form-control" readonly="readonly" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Dni" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nombre" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Apellido" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Direccion.Calle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Direccion.Calle" class="form-control" />
                <span asp-validation-for="Direccion.Calle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Direccion.Numero" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Direccion.Numero" class="form-control" />
                <span asp-validation-for="Direccion.Numero" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Direccion.Localidad" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Direccion.Localidad" class="form-control" />
                <span asp-validation-for="Direccion.Localidad" class="text-danger"></span>
            </div>
        </div>
        <div>
            <h3> Notas: <a class="btn btn-default" href="/Notas/Agregar/@Model.Id">
    +
</a></h3>
        </div>
        <div class="form-group">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Contenido</th>
                    <th>Acceso</th>
                    <th>Eliminar</th>
                </tr>
                @foreach (var item in @ViewBag.ListaNotas)
                {
                    <tr>
                        <td>
                            <a href="/Notas/Editar/@item.Id">
                                @item.Id
                            </a>
                        </td>
                        <td>
                            <a href="/Notas/Editar/@item.Id">
                                @item.Titulo
                            </a>
                        </td>
                        <td>
                            <a href="/Notas/Editar/@item.Id">
                                @item.Contenido
                            </a>
                        </td>
                        <td>
                            <a href="/Notas/Editar/@item.Id">
                                @item.Acceso
                            </a>
                        </td>
                        <td>
                            <a href="/Notas/Eliminar/@item.Id">Eliminar Nota</a>
                        </td>
                    </tr>
                }
            </table>

            
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Actualizar Persona" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
